<table id="example3" class="table table-striped table-bordered"> 
<thead> 
  <tr > 
	<th>S.No</th>
	<th>Route Name</th> 
	 <th>Sale Qty</th>
	<th>Dispatch Qty</th>
	<th>Difference</th>
  </tr>
</thead> 
<tbody> 
  <tr>
	<td>1</td>
	<td>Naga</td> 
	<td>5</td>
	<td>11</td>
	<td>6</td>
  </tr>
</tbody>
<tfoot align="right">
 <tr class="qtyrow trsum">
	<th colspan="1"></th>
	<th>Total</th>
	<th></th>
    <th></th>
	<th></th>
  </tr>
</tfoot> 
</table> 
<script>

//Page by page count
$(document).ready(function() {
    var table = $('#example3').DataTable({
      lengthChange: false,
      buttons: [ 'copy', 'excel', 'pdf', 'print'],


      "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(); 
            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };

            var columnscount = 34
            $( api.column( 0 ).footer() ).html('Total');
            $( api.column( 1 ).footer() ).html('Total');
            console.log("columnscount",columnscount);
            for(i=2;i<=columnscount;i++){
              total_i = api
                .column( i ,{ page: 'current'})
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
                $( api.column( i ).footer() ).html(total_i); 
                 console.log("total_i",i,total_i);
            } 
          }, 
    }); 
    table.buttons().container()
      .appendTo( '#example3_wrapper .col-md-6:eq(0)' );
  });
  
 </script>